{% extends 'admin/base.html' %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load xendor_tags %}

{% block extrahead %}{{ block.super }}
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
{#    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/upload/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/upload/jquery.fileupload-ui.css">
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    {% admin_image_upload_js %}

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/upload/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}js/upload/tmpl.min.js"></script>
    <script src="{{ STATIC_URL }}js/upload/load-image.min.js"></script>
    <script src="{{ STATIC_URL }}js/upload/canvas-to-blob.min.js"></script>
    <script src="{{ STATIC_URL }}js/upload/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/upload/bootstrap-image-gallery.min.js"></script>
    <script src="{{ STATIC_URL }}js/upload/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}js/upload/jquery.fileupload.js"></script>
    <script src="{{ STATIC_URL }}js/upload/jquery.fileupload-fp.js"></script>
    <script src="{{ STATIC_URL }}js/upload/jquery.fileupload-ui.js"></script>
    <script src="{{ STATIC_URL }}js/upload/locale.js"></script>
    <script src="{{ STATIC_URL }}js/upload/upload.js"></script>
{% endblock %}

{% block branding %}<h1>Загрузка изображений в галерею</h1>{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb" style="border-top: none; ">
    <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ back_link }}">{{ material }}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Фотогалерея
    </li>
</ul>
<ul class="messagelist" style="margin-left: 0; margin-top: -17px;list-style: none;">

    <li class="alert alert-info">Для добавления фотографий в список загрузки, перетащите их на любую область страницы</li>

</ul>
{% endblock %}

{% block content %}
    <h1>Фотогалерея для &laquo;{{ material }}&raquo;</h1>

    <form id="fileupload" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
        <div class="row fileupload-buttonbar">
            <div class="span7">
                    <span class="btn btn-primary fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span>Добавить файлы...</span>
                        <input type="file" name="file" multiple>
                    </span>
                <button type="submit" class="btn btn-success start">
                    <i class="icon-upload icon-white"></i>
                    <span>Начать загрузку</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Отменить загрузку</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Удалить файлы</span>
                </button>
                <input type="checkbox" id="select-all" class="toggle" />
            </div>
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped">
            <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
            {% for image in images %}
            <tr class="template-download">
                <td class="preview">
                    <a href="{{ MEDIA_URL }}{{ image.image }}" rel="gallery" download="{{ MEDIA_URL }}{{ image.image }}">
                        <img src="{{ image.image|xthumbnail:'200;200' }}" />
                    </a>
                </td>
                <td class="name"></td>
                <td class="size"><span></span></td>
                <td colspan="2"></td>

                <td class="delete">
                    <button class="btn btn-danger" data-type="DELETE" data-url="delete/{{ image.pk }}/">
                        <i class="icon-trash icon-white"></i>
                        <span>Удалить</span>
                    </button>
                    <input type="checkbox" name="delete" value="1">
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>

    <!-- modal-gallery is the modal dialog used for the image gallery -->
    <div id="modal-gallery" class="modal modal-gallery hide fade" >
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body"><div class="modal-image"></div></div>
        <div class="modal-footer">
            <a class="btn modal-download" target="_blank">
                <i class="icon-download"></i>
                <span>Скачать</span>
            </a>
            <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                <i class="icon-play icon-white"></i>
                <span>Слайдшоу</span>
            </a>
            <a class="btn btn-info modal-prev">
                <i class="icon-arrow-left icon-white"></i>
                <span>Назад</span>
            </a>
            <a class="btn btn-primary modal-next">
                <span>Вперед</span>
                <i class="icon-arrow-right icon-white"></i>
            </a>
        </div>
    </div>
{% endblock %}