{% extends 'base.html' %}

{% block content %}
	<div class="modal-body">
		<h1 style="color: black; font-size: 400% !important; font-weight: normal; font-family: Arial; float: left; margin: 0 10px 0 0; color: silver;">404</h1> 

		<p>К сожалению, запрашиваемой Вами страницы не существует на нашем сайте.</p> 
		<div class="gap-10"></div>
		
		<p>Возможно, это случилось по одной из этих причин:
		</p> 
		<ul> 
		<li>Вы ошиблись при наборе адреса страницы (URL)</li> 
		<li>перешли по &laquo;битой&raquo; (неработающей, неправильной) ссылке</li> 
		<li>запрашиваемой страницы никогда не было на сайте или она была удалена</li> 
		</ul> 
		<p>&nbsp;</p> 
		<p>Мы просим прощение за доставленные неудобства и предлагаем следующие пути:
		</p> 
		<ul> 
		<li>вернуться назад при помощи кнопки браузера back</li> 
		<li>проверить правильность написания адреса страницы (URL)</li> 
		<li>перейти на <a href="/">главную страницу</a> сайта</li>
		</ul> 
	</div>
{% endblock %}  