{% extends 'base.html' %}

{% block content %}
	<div class="modal-body">
		<img src="{{ STATIC_URL }}img/500.jpg" align="right" style="margin-left: 20px; color: silver; "/>
		
		<h1 style="color: black; font-size: 400% !important; font-weight: normal; font-family: Arial; float: left; margin: 0 20px 10px 0;">500</h1> 

		<p>На сайте обнаружена ошибка. Разработчик уже получил уведомление и в ближайшее время исправит систему.</p> 
		<div class="gap-10"></div>
		
		<p>&nbsp;</p>
		<blockquote>Мы просим прощение за доставленные неудобства. В ближайшее время работоспособность сайта будет восстановлена.
		</blockquote>
		
		<p>&nbsp;</p>
	</div>
{% endblock %}  